<!DOCTYPE html>
<html>

<head>
  <%- include layouts/metas %>
    <%- include layouts/links %>
      <title>
        <%= title %>
      </title>
</head>

<body>
  <div class="page">
    <div class="page__bd" style="height: 100%;">
      <div class="weui-tab">
        <div class="weui-navbar">
          <div class="weui-navbar__item weui-bar__item_on">mysql</div>
          <div class="weui-navbar__item">mongodb</div>
        </div>
        <div class="weui-tab__panel">
          <form class="weui-cells weui-cells_form" method="POST">
            <input type="hidden" id="dbtype" name="dbtype" value="mysql">
            <button class="weui-btn weui-btn_primary" type="submit" name="action" value="divison">民政局省市区</button>
            <button class="weui-btn weui-btn_primary" type="submit" name="action" value="taobao">淘宝省市区</button>
            <button class="weui-btn weui-btn_primary" type="submit" name="action" value="tsimple">淘宝全称</button>
            <button class="weui-btn weui-btn_primary" type="submit" name="action" value="town">淘宝乡镇</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include layouts/scripts %>
    <script>
      $(function () {
        $('.weui-navbar__item').on('click', function () {
          $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
          $('#dbtype').val($(this).text().trim());
        });
      });
    </script>
</body>

</html>