<!DOCTYPE html>
<html>
  <head>
<%- include layouts/metas %>
<%- include layouts/links %>
    <title><%= title %></title>
  </head>
  <body>
    <form class="weui-cells weui-cells_form" method="POST">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">解析地址</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="url" name="url" placeholder="请输入解析地址">
        </div>
      </div>
      <button class="weui-btn weui-btn_primary" type="submit" name="action" value="civil">民政局省市区</button>
      <button class="weui-btn weui-btn_primary" type="submit" name="action" value="civilx">民政局省市区(mysql)</button>
      <button class="weui-btn weui-btn_primary" type="submit" name="action" value="taobao">淘宝省市区</button>
      <button class="weui-btn weui-btn_primary" type="submit" name="action" value="taobaox">淘宝省市区(mysql)</button>
      <button class="weui-btn weui-btn_primary" type="submit" name="action" value="taobaoy">淘宝全称(mysql)</button>
      <button class="weui-btn weui-btn_primary" type="submit" name="action" value="town">淘宝乡镇</button>
    </form>
<%- include layouts/scripts %>
  </body>
</html>
